<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administrador</title>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Panel de Administrador</h1>
        <h3>Gestión de Usuarios</h3>
        <ul>
            <li><span>Agregar Usuario</span> <a class="button" href="#">Acción</a></li>
            <li><span>Editar Usuario</span> <a class="button" href="#">Acción</a></li>
            <li><span>Eliminar Usuario</span> <a class="button danger" href="#">Acción</a></li>
        </ul>
        <h3>Gestión de Productos</h3>
        <ul>
            <li><span>Agregar Producto</span> <a class="button" href="#">Acción</a></li>
            <li><span>Editar Producto</span> <a class="button" href="#">Acción</a></li>
            <li><span>Eliminar Producto</span> <a class="button danger" href="#">Acción</a></li>
        </ul>
        <a class="button" href="/logout">Cerrar Sesión</a>
    </div>
</body>
</html>
