<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Almacenista</title>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Panel de Almacenista</h1>
        <h3>Gestión de Stock</h3>
        <ul>
            <li><span>Actualizar Stock</span> <a class="button" href="#">Acción</a></li>
            <li><span>Registrar Entrada</span> <a class="button" href="#">Acción</a></li>
            <li><span>Registrar Salida</span> <a class="button" href="#">Acción</a></li>
        </ul>
        <a class="button" href="/logout">Cerrar Sesión</a>
    </div>
</body>
</html>
