<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="/FRONT-END/punto-venta/prd_page/login/static/log.js"></script>

</head>
<body>
    <div class="container">
        <h2>Iniciar Sesión</h2>
        <form id="form-login">
            <label for="username">Usuario:</label>
            <input type="text" id="input-username" name="username" required>
            
            <label for="password">Contraseña:</label>
            <input type="password" id="input-password" name="password" required>
            
            <button type="submit" id="subit-log">Ingresar</button>
        </form>
        <a href="./registro.html">¿No tienes cuenta? Regístrate aquí</a>
    </div>
</body>
</html>
