<!DOCTYPE html>
<html lang="es">
<head>
    <title>Productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Lista de Productos</h2>
        <ul>
            {% for producto in productos %}
            <li>
                <span>{{ producto.nombre_producto }}</span>
                <span>${{ producto.precio }} (Stock: {{ producto.stock }})</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
