<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script defer src="/FRONT-END/punto-venta/prd_page/login/static/log.js"></script>
</head>
<body>
    <div class="container">
        <h2>Registro</h2>
        <form id="registro-form">
            <label for="username">Usuario:</label>
            <input type="email" id="input-username" name="username" required>
            
            <label for="password">Contraseña:</label>
            <input type="password" id="i-password" name="password" required>
            
            <button type="submit" id="submit-reg">Registrar</button>
        </form>
    </div>
</body>
</html>
