<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UvMarket</title>
    <link rel="icon" href="favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="/FRONT-END/punto-venta/prd_page/login/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="/FRONT-END/punto-venta/prd_page/login/static/main.js" defer></script>
</head>
<body>
    <header>
        <form id="nav-prd">
            <input type="text" placeholder="Buscar" id="search-prd">
        </form>
    </header>
    <main>
        <section id="section-r">
            <div id="container-icon">
                <img src="https://cdn.icon-icons.com/icons2/3385/PNG/512/business_store_retail_buy_sale_shop_bag_shopping_icon_212618.png" alt="icon-shop" id="icon-shop">
                <div class="container-cart-products hidden-cart">
                    <div id="store-div"></div>
                </div>
            </div>
            <div id="content-div"></div>
        </section>
    </main>
</body>
</html>
