<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administrador</title>
    <link rel="icon" href="../static/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/admin.js" defer></script>
</head>
<body>
    <header id="header-admin">
        <form id="nav-admin">
            <input type="text" placeholder="Buscar" id="search-prd">
        </form>
        <h1 id="h1-title">Admin UvMarket</h1>
    </header>
    <main>
        <button id="btn-out"><a href="https://uvmarket.com.mx/" id="log-out">Cerrar Sesión</a></button>
        <div id="div-info"></div>
    </main>
</body>
</html>
