<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro: UvMarket</title>
    <link rel="icon" href="../static/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/log.js" defer></script>
</head>
<body>
    <div class="container">
        <h2>Registro</h2>
        <form id="registro-form">
            <label for="username">Usuario:</label>
            <input type="email" id="input-username" name="username" required>
            <label for="password">Contraseña:</label>
            <input type="password" id="input-password" name="password" required>
            
            <label for="rol">Rol:</label>
            <select name="rol" id="input-roll">
                <option value="user">Usuario</option>
            </select>
            <div id="redireccion">
                <button type="submit" id="submit-reg">Registrar</button>
                <a href="./login.html">Inicia Sesión</a>
            </div>
            
        </form>
    </div>
</body>
</html>
